<mat-card>
  <form #zoneForm="ngForm" (ngSubmit)="save(zoneForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{zone.name ? 'Edit' : 'Add'}} Product</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="zone.href">
      <mat-form-field>
        <input matInput placeholder="Zone Name" [(ngModel)]="zone.name"
               required name="name" #name>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zone Width" [(ngModel)]="zone.width"
               required name="width" #width>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zone Length" [(ngModel)]="zone.length"
               required name="length" #length>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!zoneForm.form.valid">Save
      </button>
      <a mat-button routerLink="/zone-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
