<mat-card>
  <form #warehouseForm="ngForm" (ngSubmit)="save(warehouseForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Dodaj Magazyn</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="warehouse.href">
      <mat-form-field>
        <input matInput placeholder="Nazwa Magazynu" [(ngModel)]="warehouse.name"
               required name="name" #name>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!warehouseForm.form.valid">Zapisz
      </button>
      <a mat-button routerLink="/warehouse-list">Anuluj</a>
    </mat-card-actions>
  </form>
</mat-card>
