<mat-card>
  <mat-card-content>
    <mat-list>
      <h3 mat-line>Zone List</h3>
      <mat-list-item *ngFor="let zone of zones">
        <h3 mat-line>
          <a mat-button [routerLink]="['/zone-edit', zone.id]">{{zone.name}}</a>
          <a>{{zone.width}}, {{zone.length}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/zone-add']">Add</button>
</mat-card>
