<mat-card>
  <mat-card-content>
    <mat-list>
      <h3 mat-line>Lista Magazynów</h3>
      <mat-list-item *ngFor="let warehouse of warehouses">
        <h3 mat-line>
          <a mat-button [routerLink]="['/warehouse-edit', warehouse.id]">{{warehouse.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/warehouse-add']">Dodaj</button>
</mat-card>
