<mat-card>
  <mat-card-content>
    <mat-list>
      <h3 mat-line>Zamówienie {{order.id}}</h3>
      <mat-list-item *ngFor="let orderProduct of orderProducts">
        <h3 mat-line>
          <a>{{orderProduct.product.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<div style="margin-left: auto; margin-right: auto" #surface></div>
