<mat-card>
  <mat-card-content>
    <mat-list>
        <h3 mat-line>Product List</h3>
      <mat-list-item *ngFor="let product of products">
        <h3 mat-line>
          <a mat-button [routerLink]="['/product-edit', product.id]">{{product.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/product-add']">Add</button>
</mat-card>
