<mat-card>
  <mat-card-content>
    <mat-list>
      <h3 mat-line>Zamówienia</h3>
      <mat-list-item *ngFor="let order of orders">
        <h3 mat-line>
          <a mat-button [routerLink]="['/order', order.id]">{{order.id}}, {{order.user.firstName}} {{order.user.lastName}}</a>
          <a></a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
