<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; font-size: 12px;">
  <mat-toolbar color="primary">
    <span [routerLink]="['/']">{{ title }}</span>
  </mat-toolbar>
  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Magazyn" (selectionChange)="selectionChange($event)">
        <mat-option *ngFor="let warehouse of warehousePicklistValues" [value]="warehouse.value">
          {{warehouse.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="buttons" [routerLink]="['/warehouse-list']">Magazyny
    </button>
    <button mat-raised-button color="primary" class="buttons" [routerLink]="['/zone-list']">Strefy</button>
    <button mat-raised-button color="primary" class="buttons" [routerLink]="['/product-list']">Produkty
    </button>
    <button mat-raised-button color="primary" class="buttons" [routerLink]="['/order-list']">Zamówienia</button>
  </mat-card>
</div>
<router-outlet></router-outlet>

