<mat-card>
  <form #productForm="ngForm" (ngSubmit)="save(productForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Dodaj Produkt</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="product.href">
      <mat-form-field>
        <input matInput placeholder="Nazwa" [(ngModel)]="product.name"
               required name="name" #name>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Szerokość" [(ngModel)]="product.width"
               required name="width" #width>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Długość" [(ngModel)]="product.length"
               required name="length" #length>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Liczba" [(ngModel)]="product.quantity"
               required name="quantity" #quantity>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!productForm.form.valid">Zapisz
      </button>
      <a mat-button routerLink="/product-list">Anuluj</a>
    </mat-card-actions>
  </form>
</mat-card>
